<div class="kb-sidebar-item__wrapper">
    <div class="kb-sidebar-item__name">{{{ view.settings.name }}}</div>
    <div class="kb-sidebar-item__id">{{{ view.settings.id }}}</div>
</div>
<div class="kb-sidebar-item__actions">
    <a class='kb-sidebar-item__edit' title='edit'
       data='{{ view.mid }}' data-url='{{ view.editURL }}'>
        <span class="dashicons dashicons-edit"></span>
        <span class="os-action">{{ i18n.moduleControls.controlsEdit }}</span></a>
    <a class='kb-sidebar__module-delete kb-js-inline-delete'><span
            class="dashicons dashicons-trash"></span></a>
    <a class='kb-sidebar__module-update kb-js-inline-update'><span
            class="dashicons dashicons-update"></span></a>

</div>