{% if section.numberOfVisibleFields > 0 %}
    <div id="{{ section.uid }}" data-kbfsubtabs class="kbf-subtabs-container">
        <div class="kbf-fields-tabnav">
            <ul>
                {% for fieldrender in fields %}
                    {% if fieldrender.field.isVisible() %}
                        <li><a href="#tab-{{ fieldrender.field.createUID() }}">{{ fieldrender.field.getArg('label') }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="kbf-fields-tabscontainer">
            {% for fieldrender in fields %}
                <div id="tab-{{ fieldrender.field.createUID() }}">
                    {{ fieldrender.build() }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
