<div id="{{ section.uid }}" data-kbfsubtabs class="kbf-subtabs-container">
    <div class="kbf-fields-tabnav">
        <ul>
            {% for tab in section.tabs %}
                {% if tab.hasVisibleFields() %}
                    <li><a href="#tab-{{ tab.getId() }}">{{ tab.getLabel() }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="kbf-fields-tabscontainer">
        {% for tab in section.tabs %}
            <div id="tab-{{ tab.getId() }}">
                {% for field in tab.fields %}
                    {% if field.isVisible() == true %}
                        {{ field.render() }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

