<div class='kbf-fieldrenderer-sections kbf-field-sections'>
    {% for renderSection in structure %}
    {% if (renderSection.section.getNumberOfVisibleFields() > 0) %}

    <div id='section-{{ renderSection.section.getSectionId() }}'
         class="kbf-section-wrap"
    {% for key,value in renderSection.section.args.attributes %}
        {{ key }}="{{ value }}"
    {% endfor %}
    >
    <div class="kb-context__header">
        <h2>{{ renderSection.section.getTitle() }}</h2>
    </div>
    {{ renderSection.renderFields() }}
</div>
{% endif %}
    {% endfor %}
</div>
