<div class='kb_fieldtabs kb-field--tabs'>
    <ul>
        {# navigation #}
        {% for section in structure %}
            {% if (section.getNumberOfVisibleFields() > 0) %}
                <li><a href='#tab-{{ section.getSectionId() }}'>{{ section.getLabel() }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
        {# container #}
        {% for section in structure %}
            {% if (section.getNumberOfVisibleFields() > 0) %}
                <div id='tab-{{ section.getSectionId() }}'>
                    {{ section.render( ) }}
                </div>
            {% else %}
                {{ section.render() }}
            {% endif %}
        {% endfor %}
</div>
