<div class='kb_fieldtabs kb-field--tabs'>
    <ul>
        {# navigation #}
        {% for section in structure %}

            {% if (section.getNumberOfVisibleFields() > 0) %}
                <li><a href='#tab-{{ section.getId() }}'>{{ section.getLabel() }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

        {# container #}
        {% for section in structure %}
            {% if (section.getNumberOfVisibleFields() > 0) %}
                <div id='tab-{{ section.getId() }}'>
                    {{ section.render( data ) }}
                </div>
            {% else %}
                {{ section.render(data) }}
            {% endif %}
        {% endfor %}
</div>
