<div class='klearfix' id='kontentblocks-core-ui'>
    <div class='kb-whiteout' style='display: none;'></div>
    <div class='fullscreen--title-wrapper' style='display: none;'></div>
    <div class='fullscreen--description-wrapper' style='display: none;'></div>
    {{ nonces.save | raw }}
    {{ nonces.ajax | raw }}
    <input type='hidden' name='blog_id' value='{{ blogId }}'>
    <input type="hidden" name="kb_preview" value="kb_preview">

    {% if hasAreas == false %}
        {{ noAreas | raw }}
    {% endif %}

    {{ ScreenManager.render() | raw }}
</div> <!--end ks -->
