<div class="{{ Form.getClass('main-wrap') }} {% if Field.getArg('description') %} field-has-description {% endif %}"
     data-kbfuid="{{ Field.uniqueId|escape('html_attr') }}"
     id='{{ Field.uniqueId|escape('html_attr') }}'>
    <div class="{{ Form.getClass('type-label') }}">{{ Field.getSetting('type') }}</div>
    <div class="{{ Form.getClass('field-header') }}">
        {% if (Field.getArg('title')) %}
            <h4>{{ Field.getArg('title')|escape }}</h4>
        {% endif %}
    </div>
    <div {% for attr,value in Form.fieldWrapAttributes %} {{ attr }}='{{ value|esc_attr }}' {% endfor %} >
    {{ Form.getLabel() }}

    {% block fieldmarkup %}
        {#goes here#}
    {% endblock %}

    {{ Form.getDescription() }}
    </div>
</div>