{{#if draft }}
    <div data-kbtooltip="{{strings.tooltipUndraft}}"><span class="kbu-color-red kb-module--status-label">Status</span><br><span>{{ strings.draft }}</span></div>
{{ else }}
   <div data-kbtooltip="{{strings.tooltipDraft}}"><span class="kbu-color-green kb-module--status-label">Status</span><br><span>{{ strings.published }}</span></div>
{{/if}}