{{#if model.overrides.loggedinonly }}
    <span class="kb-module--status-label">{{ i18n.Modules.status.visibleFor}}</span><br><span>{{ i18n.Modules.status.loggedIn }}</span>
{{ else }}
    <span class="kb-module--status-label">{{ i18n.Modules.status.visibleFor}}</span><br><span>{{ i18n.Modules.status.anyone }}</span>
{{/if}}
