{{#if draft }}
    <div class="kb-status-draft kb-button-small" data-kbtooltip="{{strings.tooltipUndraft}}">{{ strings.draft }}</div>
{{ else }}
   <div class="kb-status-public kb-button-small" data-kbtooltip="{{strings.tooltipDraft}}">{{ strings.published }}</div>
{{/if}}