{{#if show }}
    <div class="kb-template-selector--wrapper">
        <div class="kb-selectbox">
            <select class="kb-template-select" data-kb-rel="{{ module.mid }}" name="{{ module.mid }}[viewfile]">
                {{#each views }}
                    <option {{ this.selected }} value="{{ this.filename }}"
                                                data-tpldesc="{{ this.description }}">{{ this.name }}</option>
                {{/each}}
            </select>
        </div>
    </div>
{{else}}
    <input name="{{ module.mid }}[viewfile]" type="hidden" value="{{module.viewfile}}">
{{/if}}

