<tr class="form-field kb-field-wrapper field-renderer-wp kb-js-field-identifier {% if Field.getArg('description') %} field-has-description {% endif %}"
    data-kbfuid="{{ Field.uniqueId|escape('html_attr') }}"
    id='{{ Field.uniqueId|escape('html_attr') }}'>
    <th scope="row">{{ Form.getLabel() }}</th>
    <td>
        {% if (Field.getArg('title')) %}
            <div class="kb-field-header">
                <h4>{{ Field.getArg('title')|escape }}</h4>
            </div>
        {% endif %}
        <div class='kb_field kb-field kb-field--{{ Field.getSetting('type') }} kb-field--reset klearfix'>