<div class="kb-tpled--field-item">
    <div><strong>Label:</strong>{{ data.args.label }}</div>
    <div class="kb-tpled--details">
        <div><strong>Type:</strong>{{ data.type }}</div>
        <div><strong>Key:</strong>{{ data.key }}</div>
        <div><strong>Access:</strong>Model.{{ data.kpath }}</div>
        <div><strong>Value:</strong>Model.{{ data.value }}</div>
    </div>
</div>