<input type="hidden" name="{{ inputName }}[_meta][uid]" value="{{ uid }}">
<input type="hidden" name="{{ inputName }}[_meta][type]" value="{{ fftype }}">
<div class="flexible-fields--section-box">
    <div class="flexible-fields--section-title">
        <span class="genericon genericon-draggable flexible-fields--js-drag-handle"></span>
        <span class="dashicons dashicons-trash flexible-fields--js-trash"></span>
        <input type="text" value="{{ item.title }}" name="{{ inputName }}[_meta][title] ">
    </div>
    <div class="flexible-fields--section-box-inner">

    </div>
    <div class="kb-field--tabs">
        <ul class="flexible-field--tab-nav">
        </ul>
    </div>
</div>