<div class="kb-field kb-js-field kb-field--link field-api-link">

    <label class="heading">{{ config.label }}</label>
    <input
            id="{{ index }}_link_input"
            type="text"
            name="{{ fieldName baseId index config.key }}[link]"
            value="{{ model.value.link }}">
    <a class='button kb-js-add-link'>Add Link</a>

    {{#if config.linktext }}
        <div class='kb-field--link-meta'><label for='{{ index }}-linktext'>{{ i18n.linktext }}</label><br>
            <input
                    type='text'
                    name="{{ fieldName baseId index config.key }}[linktext]"
                    class='kb-field--link-linktext'
                    id='{{ index }}-linktext'
                    value='{{ model.value.linktext }}'>
        </div>
    {{/if}}

    {{#if config.linktitle }}
        <div class='kb-field--link-meta'><label for='{{ index }}-linktitle'>{{ i18n.linktitle }}</label><br>
            <input
                    type='text'
                    name="{{ fieldName baseId index config.key }}[linktitle]"
                    class='kb-field--link-linktitle'
                    id='{{ index }}-linktitle'
                    value='{{ model.value.linktitle }}'>
        </div>
    {{/if}}
    <p class="description">{{ config.description }}</p>

</div>