{{ Form.getLabel() }}
<div class='kb-field-image-wrapper' data-kbfield="image">
    <div class='kb-js-add-image kb-field-image-container'>
        {% if (Field.getArg('width')) %}
            <img src='{{ image.getSize([Field.getArg('width'),Field.getArg('height')]) }}'>
        {% else %}
            <img src='{{ image.getSize('thumbnail') }}'>
        {% endif %}

    </div>

    {#{% if (Field.getArg('hideMeta') == true) %}#}
    {#<div style="display: none;">#}
    {#{% endif %}#}

    {#<div class="kb-js-image-meta-wrapper">#}
    {#<label>{{ i18n.title }} </label>#}
    {#<input class='kb-js-image-title kb-observe' type="text" name='{{ Form.getFieldName( 'details', 'title') }}'#}
    {#value='{{ value.details.title }}'>#}
    {#<label>{{ i18n.description }}</label>#}
    {#<input class='kb-js-image-description kb-observe' type="text"#}
    {#name='{{ Form.getFieldName( 'details', 'description') }}'#}
    {#value='{{ value.details.description }}'>#}
    {#</div>#}
    {#{% if (Field.getArg('hideMeta') == true) %}#}

    {#</div>#}
    {#{% endif %}#}
    <div class="kb-field-image--footer">
        <a class="button kb-js-reset-image">Reset</a>
    </div>
    <input class='kb-js-image-id' type='hidden' name='{{ Form.getFieldName('id') }}' value='{{ value.id }}'>
    {#<input class='kb-js-image-alt' type='hidden' name='{{ Form.getFieldName( 'details', 'id' ) }}'#}
    {#value='{{ value.details.alt }}'>#}
</div>
{{ Form.description() }}
