{{ Form.getLabel() }}
{{ Form.getDescription() }}

<div id='{{ Form.getInputFieldId() }}' data-fieldkey='{{ Field.getKey() }}'
     data-arraykey='{{ Field.getArg('arrayKey') }}' data-module='{{ Field.getFieldId() }}'
     class='flexible-fields--stage'></div>
